/*
CORES
#D92B04
#45858C
#A0D9D9
#D9C589
#BF9765

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background-color: #13182B;
} */

::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: 'Mynerve', cursive;
    text-shadow: 4px 4px 6px #000;
    font-weight: 700;
    font-size: max(44px, 5.2vw);
}

h2{
    font-family: 'Marhey', cursive;
    text-shadow: 4px 4px 6px #464646;
    font-weight: 700;
    font-size: max(20px, 2.8vw);
}


/*------- BOTÃO CHAMADA ------------*/

div.chamada a{
    font-size: max(16px, 1.8vw);
    color: #FFF;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 50px;
    font-weight: 600;
    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35)50%, rgba(6,89,2,35)100%);

    display: inline-block;

    animation-name: HeaderA-moverParaCima;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    transition: .3s ease-in-out;
    
}

div.chamada a:hover{
    opacity: .8;
}

/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

header{
    max-width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('../images/headerCapaG.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
}

/*------- NAVEBAR ------------*/

header nav#nav-esquerda{
    width: 100%;
    height: 150px;

    display: flex;
    flex-flow: row;
    align-items: center;   
    /* justify-content: space-between; */
}

header nav#nav-esquerda div#logo{
    width: 150px;
    height: 150px;
    margin-left: 5rem;
}

header nav#nav-esquerda div#logo img{
    max-width: 100%;
    max-height: 100%;
}

/*-------- MENU HAMBURGUER -----------*/

header nav#nav-esquerda ul#icone-menu{
    display: none;
}

header nav#nav-esquerda ul#icone-menu li{
    list-style: none;
}

header nav#nav-esquerda ul#icone-menu li ion-icon{
    font-size: 50px;
    color: #fff;
    margin-right: 2rem;
}

/*-------- MENU -------------- */

header nav#nav-esquerda ul.menu-principal{
    margin-left: 5rem;

    display: flex;
    flex-flow: row wrap;
}

header nav#nav-esquerda ul.menu-principal li{
    list-style: none;
    margin-right: 2rem;
}

header nav#nav-esquerda ul.menu-principal li a{
    text-decoration: none;
    color: #fff;
    font-size: 110%;
    text-shadow: 4px 6px 10px #000;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}

header nav#nav-esquerda ul.menu-principal li a:hover{
    opacity: .6;
    border-bottom: 1px solid #fff;
}

/*-------- CHAMADA -------------- */

header div.chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

header div.chamada h1{
    color: #FFF;

    animation-name: HeaderH1-moverParaDireita;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}

header div.chamada h2{
    color: #D9C589;

    margin-bottom: 55px;

    animation-name: HeaderH1-moverParaEsquerda;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}



/*--------------------------*/
/*  SECTION APRESENTAÇÃO    */
/*--------------------------*/

section.apresentacao{
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    text-align: center;
}

section.apresentacao div.apresentacao-mestre{
    text-align: center;
    margin-bottom: 40PX;
}

section.apresentacao div.apresentacao-mestre img{
    border: 2px solid #BF9765;
}

section.apresentacao div.apresentacao-mestre h2{
    font-size: max(22px, 1.8vw);
    margin-top: 10px;
}

/*--------------------------*/
/*  SECTION SOLUÇÃO         */
/*--------------------------*/
section.solucao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #45858C;
    border-bottom: 5px solid #45858C;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 60px;

    background-color: #D9C589;
}

section.solucao h2{
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 950px;
    font-size: max(22px, 2.8vw);
    text-align: center;
    color: #FFF;
}

section.solucao div.solucao-mestre{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-bottom: 40px;
}

section.solucao div.solucao-mestre div.solucao-texto{
    max-width: 800px;
    text-align: left;
    line-height: 2;
    margin-bottom: 20px;
}

section.solucao div.solucao-mestre div.solucao-texto p{
    width: 95%;
    margin: auto;
    color: #FFF;
    text-shadow: 2px 2px 5px #181717;
    font-size: max(16px, 1vw);
}

section.solucao div.solucao-mestre div.solucao-img{
    width: 400px;
}

section.solucao div.solucao-mestre div.solucao-img img{
    max-width: 100%;
}


/*--------------------------*/
/*  SECTION PARA-QUEM       */
/*--------------------------*/

section.para-quem{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

section.para-quem h2{
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 750px;
    font-size: max(22px, 2.8vw);
    text-align: center;
    color: #BF9765;
}

section.para-quem div.para-quem-mestre{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
}

section.para-quem div.para-quem-mestre div.para-quem-img{
    width: 520px;
    margin-bottom: 20px;
}

section.para-quem div.para-quem-mestre div.para-quem-img img{
    max-width: 100%;
}

section.para-quem div.para-quem-mestre div.para-quem-texto{
    max-width: 800px;
    text-align: right;
    line-height: 1.6;
    margin-bottom: 20px;
}

section.para-quem div.para-quem-mestre div.para-quem-texto p{
    width: 95%;
    margin: auto;
    color: #45858C;
    text-shadow: 2px 2px 5px #181717;
    font-size: max(16px, 1vw);
}

/*--------------------------*/
/*  SECTION PRODUTOS        */
/*--------------------------*/
section.produto{
    width: 100%;
    background-color: #45858C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;

}

section.produto h2{
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 750px;
    font-size: max(22px, 2.4vw);
    text-align: center;
    color: #BF9765;
}

section.produto div.produto-sup-img{
    max-width: 400px;
    box-shadow: 4px 4px  6px #000;
}

section.produto div.produto-sup-img img{
    max-width: 100%;
}

section.produto div.produto-inf{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;   
    margin-top: 50px;
}

section.produto div.produto-inf div.produto-guia{
    position: relative;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #13182B;
    border-radius: 10px;
    box-shadow: 4px 4px  6px #383838;
}

section.produto div.produto-inf div.produto-guia div.guia-img{
    max-width: 300px;
}

section.produto div.produto-inf div.produto-guia div.guia-img img{
    max-width: 100%;
}

section.produto div.produto-inf div.produto-guia h4{
    font-size: max(20px, 1.4vw);
    color: #BF9765;
    text-shadow: 2px 2px 4px #1a1919;
    margin-top: 2rem;
}

section.produto div.produto-inf div.produto-guia p{
    max-width: 400px;
    font-size: max(14px, .9vw);
    color: #FFF;
    text-shadow: 2px 2px 4px #1a1919;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

section.produto div.produto-inf div.produto-guia a{
    position: absolute;
    bottom: 10px;
    padding: 10px 0px;
    width: 300px;

    font-size: max(16px, 1vw);
    color: #FFF;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35)50%, rgba(6,89,2,35)100%);
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER     */
/*--------------------------*/

footer{
    width: 100%;
    background-color: #13182B;
    padding-bottom: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.footer-mestre{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer div.footer-mestre div.logo{
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

footer div.footer-mestre div.logo img{
    max-width: 100%;
}

footer div.footer-mestre div.footer-inf{
    width: 70%;
    margin-bottom: 50px;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer div.footer-mestre div.footer-inf nav.nav-footer ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

footer div.footer-mestre div.footer-inf nav.nav-footer ul li{
    list-style: none;
    margin-bottom: 15px;
}

footer div.footer-mestre div.footer-inf nav.nav-footer ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 110%;
    transition: .3s ease-out;
}

footer div.footer-mestre div.footer-inf nav.nav-footer ul li a:hover{
    border: 2px solid #D9C589;  
}

footer div.footer-mestre div.footer-inf div.cartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.footer-mestre div.footer-inf div.cartoes span{
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-size: max(16px, 1.5vw);
    margin-bottom: 15px;
}

footer div.footer-mestre div.footer-inf div.cartoes div.footer-img{
    max-width: 340px;
}

footer div.footer-mestre div.footer-inf div.cartoes div.footer-img img{
    max-width: 100%;
}

footer span.autorais{
    color: #FFF;
    font-size: max(14px, .8vw);
    margin-top: 20px;
}


