/*
CORES
#D92B04
#45858C
#A0D9D9
#D9C589
#BF9765

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;

*/

/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/

section#contato{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#contato div#contato-formulario{
    width: 90%;
    margin-top: 1.5rem;
    margin-right: 1rem;
    text-align: center;
    background-color: #13182B;
    
    border: .2px solid rgba(245, 87, 87, 0.308);
    border-radius: 20px;
    box-shadow: -2px 2px 6px rgba(245, 87, 87, 0.192);

}

section#contato div#contato-formulario h3{
    color: #D9C589;
    font-family: 'Mynerve', cursive;
    font-size: max(22px, 2.5vw);
    font-weight: 600;
}

section#contato div#contato-formulario input{
    width: 60%;
    height: 2rem;
    margin-bottom: 10px;
}

section#contato div#contato-formulario textarea{
    width: 60%;
}

section#contato div#contato-formulario button{
    width: 60%;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 200%;
    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35)50%, rgba(6,89,2,35)100%);
    color: #D9C589;
    border: none;
}

section#contato div#contato-formulario button:hover{
    opacity: .8;
}